<section class="home container">
    <div class="hero">
      <h2 class="title">Fernando Laurino</h2>
      <p class="subtitle">Portfolio</p>
      <div class="scroll-indicator">
        <span>Scroll Down</span>
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>
  </section>
  
<section class="projects container">
  <h2 class="title">Projetos</h2>
  <div class="wrapper">
    <div 
      class="container project-card" 
      *ngFor="let project of projects" 
      (click)="openProjectDetails(project.id)"
    >
    <img [src]="project.images[0]" [alt]="project.title" />
    <h3 class="project-title">{{ project.title }}</h3>
    </div>
  </div>
</section>
<section class="about-me container">
  <h2 class="title">Sobre Mim</h2>
  <div class="wrapper">
    <div class="text">
      <p>
        Sou um desenvolvedor front-end com mais de cinco anos de experiência na construção de aplicações web escaláveis e de alto desempenho. Minha principal especialização é em Angular, atuando no desenvolvimento de interfaces modernas e acessíveis, sempre alinhadas às melhores práticas do mercado.

        Ao longo da minha trajetória, contribui para projetos relevantes no setor financeiro, incluindo o desenvolvimento de funcionalidades críticas para grandes instituições como Bradesco. Trabalhei em times que seguem metodologias ágeis, aplicando conceitos como SOLID, TDD, Pixel Perfect e CI/CD para garantir qualidade e eficiência no desenvolvimento.
        
        Tenho um olhar analítico e sou movido por desafios que exigem soluções bem estruturadas e código de qualidade. Busco constantemente aprimorar minhas habilidades e acompanhar as tendências do mercado para entregar produtos robustos e centrados na experiência do usuário.
        
        Se busca um profissional comprometido com performance, boas práticas e inovação, podemos conversar!
      </p>
    </div>
    <img class="img" src="assets/img/desktop.png" alt="">
  </div>
  
  <div class="whatido">
    <h3 class="title" style="text-align:left; width: 100%;">O que eu faço:</h3>
    <div class="whatido-list">
      <div class="card">
        <h3><i class="fa fa-desktop"></i>Desenvolvimento de WebSite</h3>
        <p>Eu crio websites com base no seu Design pronto. Seja uma Landing-Page, um E-commerce, ERPs, entre outros.</p>
      </div>
      <div class="card">
        <h3><i class="fa fa-mobile"></i>Criação de Apps</h3>
        <p>Eu crio seu app pra rodar em qualquer dispositivo. Utilizando WebView e Microfrontends eu entrego a melhor solução com a tecnologia que o sistema precisar ou exigir.</p>
      </div>
      <div class="card">
        <h3><i class="fa fa-dollar"></i>Ramo Bancário</h3>
        <p>Especializado em projetos para o setor bancário e financeiro, conheço as melhores técnicas de segurança, experiência do usuário e escalabilidade para o seu negócio.</p>
      </div>
      <div class="card">
        <h3><img src="/assets/img/agil.png">Métodos Ágeis</h3>
        <p>
          Com vivência em metodologias ágeis como SCRUM e Kanban, eu sei como gerenciar e atuar em equipes e projetos de forma eficiente, garantindo integração e entregas contínuas.
        </p>
      </div>
      <div class="card">
        <h3><i class="fa fa-microscope"></i>Testando e Implementando</h3>
        <p>
          Sólidos conhecimentos nas melhores práticas de testes unitários e e2e, garantindo que o seu produto seja robusto e escalável. Implemento soluções de CI/CD para uma implementação segura, confiável e dinâmica.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- <section class="technologies container">
  <h2 class="title">Tecnologias</h2>
</section> -->
  <!-- Project Details Sidebar -->
  <div class="project-details-sidebar" [class.active]="isDetailsSidebarOpen">
    <div class="sidebar-header">
      <h2>{{ selectedProject?.title }}</h2>
      <button class="close-btn" (click)="closeProjectDetails()">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="sidebar-content">
      <div class="project-images">
        <img *ngFor="let image of selectedProject?.images" [class.img-small]="selectedProject?.imgSize && selectedProject?.imgSize  == 'small'" [src]="image" [alt]="selectedProject?.title" />
      </div>
      <div class="project-info">
        <h3>Sobre o Projeto</h3>
        <p>{{ selectedProject?.description }}</p>
  
        <h3>Tecnologias Utilizadas</h3>
        <ul class="tech-stack">
          <li *ngFor="let tech of selectedProject?.technologies">{{ tech }}</li>
        </ul>
  
        <div class="project-links" *ngIf="selectedProject?.githubUrl !== '/'">
          <a [href]="selectedProject?.githubUrl" target="_blank" *ngIf="selectedProject?.githubUrl">
            <i class="fab fa-github"></i> Código Fonte
          </a>
          <a [href]="selectedProject?.demoUrl" target="_blank" *ngIf="selectedProject?.demoUrl">
            <i class="fas fa-external-link-alt"></i> Demo
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-overlay" [class.active]="isDetailsSidebarOpen" (click)="closeProjectDetails()"></div>
  <div class="contact">
    <div class="list">
      <a [href]="'https://github.com/Fernando-de-Oliveira'" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a [href]="'https://linkedin.com/in/fernando-laurino'" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a [href]="'https://wa.me/5511949723063'" target="_blank">
        <i class="fab fa-whatsapp"></i>
      </a>
      <a>
        <i class="fa fa-envelope"></i>
      </a>
    </div>
  </div>